<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert Images</title>
</head>

<body>
    <h1>Convert .png, .jpg and .jpeg to .webp format</h1>
    <form>
        <label for="file">Directory: </label>
        <input id="directory" name="directory" />
        <button type="button" onClick="onFormSubmit(event)">Convert</button>
    </form>
    <script>
        function onFormSubmit(event) {
            event.preventDefault();
            fetch("/convert", {
                method: 'post',
                body: JSON.stringify({ "directory": document.querySelector('#directory').value }),
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }).then((response) => {
                return response.json()
            }).then((res) => {
                if (res.status === 201) {
                    console.log("Post successfully created!")
                }
            }).catch((error) => {
                console.log(error)
            })
        }
    </script>
</body>

</html>